* {
  box-sizing: border-box;
}
.app {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.app-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.app-header .wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}

.app-header .wrapper img {
  width: inherit;
  height: 450px;
}

/* Large devices */
@media (min-width: 1200px) {
  .app {
    width: 1200px;
  }
}
